<!DOCTYPE html>
<html>
  <head>
    <title>Twitter App</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
  </head>
  <body>
  <div class="container">

    <h1><a href="http://ban.jo">Twitter API for Banjo !</a></h1>

    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <ul class="nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="http://ban.jo/press/">Press</a></li>
            <li><a href="http://ban.jo/careers/">Careers</a></li>
            <li><a href="http://ban.jo/about/">About</a></li>
            <li><a href="http://ban.jo/contact/">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
    <form class="form-horizontal">
      <fieldset>
        <!-- Form Name -->
        <legend>Fetch Tweets !</legend>

        <!-- Search input-->
        <div class="control-group">
          <div class="controls">
            <input id="latitude"  name="latitude"  type="text" placeholder="Latitude"  class="input-medium search-query" value="-7.7026">
            <input id="longitude" name="longitude" type="text" placeholder="Longitude" class="input-medium search-query" value="113.99608">
            <input id="radius"    name="radius"    type="text" placeholder="Radius"    class="input-medium search-query" value="0.24">
            <input id="hash_tag"  name="hash_tag"  type="text" placeholder="Hash Tag"  class="input-medium search-query">
            <p class="help-block">
              Get all tweets - <strong style="color:red">Required:</strong>
                  <span id='lat-help'>Latitude</span> |  <span id='lon-help'>Longitude</span> |
                  <span id='rad-help'>Radius</span>
              <span id="error"></span>
            </p>
          </div>
        </div>

        <!-- Button -->
        <div class="control-group">
          <label class="control-label" for="searchbutton"></label>
          <div class="controls">
            <button id="searchbutton" name="searchbutton" type="button" class="btn btn-primary">Search</button>
          </div>
        </div>
      </fieldset>
    </form>

    <div id="pagination_panel">
      <span id="prev-btn">&lt;</span>
      <span id="curr-pg"></span>
      <span id="middle"> of </span>
      <span id="total-pg"></span>
      <span id="next-btn">&gt;</span>
    </div>
    <div id="map-canvas">
    </div>

    <!--  Footer -->
    <hr>
    <div class="footer">
      <p style="color:blue"><b>Author: </b>Prateek Mehrotra</p>
    </div>

   </div>

    <script type="text/javascript" charset = "utf-8" >
      $( document ).ready(function() {
        base_map();
      });

      $("button#searchbutton").click(function (e) {
        validate(1,20);
      });
      var validate = function(page_number,per_page){
        var lat       = $("input#latitude").val(),
            long      = $("input#longitude").val(),
            rad       = $("input#radius").val(),
            hash_tag  = $("input#hash_tag").val(),
            imageBox  = $('div#tweetTemplate ul.result-items').empty(),
            flag              = true;
            input_validate    = [$('span#lat-help'),$('span#lon-help'), $('span#rad-help')]
        $.each([lat,long,rad], function(i,e){
          if (e == "")
          {
            input_validate[i].css('color', 'red');
            flag = false;
          }
          else
          {
            input_validate[i].css('color', '');
          }
        });

        if (flag)
        {
          renderTweets(lat,long,rad,hash_tag,page_number,per_page);
        }

      };
      //
      var renderTweets = function(lat,long,rad,hash_tag,page_number,per_page) {
        var options   = {
          geo_location: [lat,long],
          radius:       rad,
          hash_tag:     hash_tag,
          page:         page_number,
          per_page:     per_page
        }
        _api      = "/tweets/retrieve_tweets",
        error     = $('div.controls p.help-block span#error').empty(),
        targetEle = $(document.body).find('#tweetTemplate ul.result-items');
        map.setCenter(new google.maps.LatLng(lat,long));
        $.ajax({
          type: "GET",
          url:  _api,
          data: options
        }).success(function(data) {
              showResult(data);
            });
      };
      var showResult = function(data){
        showPagination(data.total,data.current_page);
        setMarkers(data.response);
      };
      var setMarkers = function(tweets){
        window.old_markers = window.old_markers || [];
        clearOldMarkers();
        for(id in tweets) {
          var ele = "User: " +tweets[id].username + '<br>',
              ele = ele + "Tweet:      "   + tweets[id].tweet + '<br>',
              ele = ele + "Hash Tag:   "   + tweets[id].hash_tags + '<br>',
              ele = ele + "Location:   "   + tweets[id].location  + '<br>',
              ele = ele + "Tweeted on: "   + tweets[id].tweet_date  + '<br><br>';

          var loc = new google.maps.LatLng(tweets[id].location[0], tweets[id].location[1]);
          var marker_option ={
            position: loc,
            map: map,
            animation: google.maps.Animation.DROP,
            info: ele,
            loc: tweets[id].location + ''
          };
          var marker = new google.maps.Marker(marker_option);
          var infoWindow = new google.maps.InfoWindow({ maxWidth: 400, maxHeight: 400 });

          google.maps.event.addListener(marker, 'mouseover', function() {
            infoWindow.setContent(this.loc);
            infoWindow.open(map, this);
          });

          google.maps.event.addListener(marker, 'click', function() {
            infoWindow.setContent(this.info);
            infoWindow.open(map, this);
          });

          window.old_markers.push(marker)
        }
      };
      var clearOldMarkers = function(){
        for(id in window.old_markers){
          window.old_markers[id].setMap(null);
        }
      };
      var showPagination = function(total, current){
        window.current = current;
        var panel = $("#pagination_panel");
        var pages = Math.ceil(total/20);
        panel.hide();
        if( pages > 0){
          panel.show();
          $("#total-pg").text(pages);
          $("#curr-pg").text(current);
          $("#prev-btn").show();
          $("#next-btn").show();
          if(current == 1){
            $("#prev-btn").hide();
          }
          if(current == pages){
            $("#next-btn").hide();
          }
        }
      };
      $("#prev-btn").bind('click', function(){
        console.log("prev-btn " + window.current);
        validate(window.current-1,20);

      });
      $("#next-btn").bind('click', function(){
        console.log("next-btn " + window.current);
        validate(window.current+1,20);
      });
  </script>

</body>
</html>