<!DOCTYPE html>
<html>
  <head>
    <title>Twitter App</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
  </head>
  <body>
  <div class="container">

    <h1><a href="http://ban.jo">Twitter API for Banjo !</a></h1>

    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <ul class="nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="http://ban.jo/press/">Press</a></li>
            <li><a href="http://ban.jo/careers/">Careers</a></li>
            <li><a href="http://ban.jo/about/">About</a></li>
            <li><a href="http://ban.jo/contact/">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
    <form class="form-horizontal">
      <fieldset>
        <!-- Form Name -->
        <legend>Fetch Tweets !</legend>

        <!-- Search input-->
        <div class="control-group">
          <div class="controls">
            <input id="latitude"  name="latitude"  type="text" placeholder="Latitude"  class="input-medium search-query">
            <input id="longitude" name="longitude" type="text" placeholder="Longitude" class="input-medium search-query">
            <input id="radius"    name="radius"    type="text" placeholder="Radius"    class="input-medium search-query">
            <input id="hash_tag"  name="hash_tag"  type="text" placeholder="Hash Tag"  class="input-medium search-query">
            <p class="help-block">
              Get all tweets - <strong style="color:red">Required:</strong>
                  <span id='lat-help'>Latitude</span> |  <span id='lon-help'>Longitude</span> |
                  <span id='rad-help'>Radius</span>
              <span id="error"></span>
            </p>
          </div>
        </div>

        <!-- Button -->
        <div class="control-group">
          <label class="control-label" for="searchbutton"></label>
          <div class="controls">
            <button id="searchbutton" name="searchbutton" type="button" class="btn btn-primary">Search</button>
          </div>
        </div>
      </fieldset>
    </form>

    <div id="pagination_panel">
      <span id="prev-btn">&lt;</span>
      <span id="curr-pg"></span>
      <span id="middle"> of </span>
      <span id="total-pg"></span>
      <span id="next-btn">&gt;</span>
    </div>
    <div id="no-result"><span>No tweets found</span></div>
    <div id="map-canvas">
    </div>

    <!--  Footer -->
    <hr>
    <div class="footer">
      <p style="color:blue"><b>Author: </b>Prateek Mehrotra</p>
    </div>

   </div>

    <script type="text/javascript" charset = "utf-8" >
      $( document ).ready(function() {
        base_map();
        $("button#searchbutton").bind("click", function (e) {
          validate(1,20);
        });
      });

    </script>

</body>
</html>